 body {
    font-family: oswald;
    background-image:linear-gradient(to right,#B81515,#A1130C)  ;
    color: white;
}
h1{
    text-align: center;
}
h2{
  text-align: center;  
}


.hero{
    border: 5px solid black;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}
.hero-img{
    position: absolute;
    width:410px ;
    height: 410px;
    transition: 0.2s;
    left: 0;
    top: 0;
    border: 5px solid black;
     border-radius: 10px;
}
.hero-img-container{
    position: relative;
    margin-right: 210px;
}
.hero-img2{
    position: absolute;
   display: none;
   width:410px ; 
   height: 410px;
   transition: 0.5s;
   opacity: 0;
   left: 0;
   top: 0;
    border: 5px solid black;
     border-radius: 10px;
    
}
.hero-img-container:hover .hero-img2{
    display: block;
    opacity: 1;
}
.hero-img-container:hover .hero-img{
  opacity: 0;
}
.hero2 p{
  margin-left: 430px;
}
footer{
    margin-top: 50px;
    border: black 10px  dotted;
}
h3{
    text-align: center;
    font-size: 25px;
}
footer section{
    display: flex;
    justify-content: center;
    gap: 50px;
}
iframe{
    border: gray 5px double;
    border-radius: 5px;

}
.characters-next-container{
    text-align: center;
    margin-bottom:20px;

}
.characters-next{
   border: 5px solid black;
    color: white;
    border-radius: 5px;
    background-color: black;

}
.characters-past{
       border: 5px solid black;
    color: white;
    border-radius: 5px;
    background-color: black;
}

